<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">
		<div class="card bg-light">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<h1>Bienvenidos Choferes</h1>

				<form th:action="@{/views/choferes/save}" th:object="${chofer}"
					method="post">

					<div class="form-group row">

                    <input type="hidden" th:field="*{idChofer}"> 

						<label for="nombre"> </label> <input type="text"
							th:field="*{nombre}"
							class="form-control form-control-sm col-md-3" id="nombre"
							placeholder="Nombre:"> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
							th:errors="*{nombre}">
							</small>
					</div>

					<div class="form-group row">
						<label for="apellido"></label> <input type="text"
							th:field="*{apellido}"
							class="form-control form-control-sm col-md-3" id="apellido"
							placeholder="Apellido:"> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
							th:errors="*{apellido}">
							</small>
					</div>

					<div class="form-group row">
						<label for="cedula"></label> <input type="text"
							th:field="*{cedula}"
							class="form-control form-control-sm col-md-3" id="cedula"
							placeholder="Cédula:"> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('cedula')}"
							th:errors="*{cedula}">
							</small>
					</div>

					<div class="form-group row">
						<label for="celular"></label> <input type="text"
							th:field="*{celular}"
							class="form-control form-control-sm col-md-3" id="celular"
							placeholder="Celular:"> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('celular')}"
							th:errors="*{celular}">
							</small>
					</div>

					<div class="form-group row">
						<label for="correo"></label> <input type="email"
							th:field="*{correo}"
							class="form-control form-control-sm col-md-3" id="correo"
							placeholder="Correo electrónico:"> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('correo')}"
							th:errors="*{correo}">
							</small>
					</div>

					<div class="form-group row">
						<label for="estadoRegistro"></label> <input type="text"
							th:field="*{estadoRegistro}"
							class="form-control form-control-sm col-md-3" id="estadoRegistro"
							placeholder="Estado:"> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('estadoRegistro')}"
							th:errors="*{estadoRegistro}">
							</small>
					</div>

					<div class="card-footer bg-dark">
						<input type="submit" class="btn btn-outline-primary btn-sm"
							value="Guardar">
					</div>



				</form>
			</div>
		</div>
	</div>




	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>